.btn-bluberry {
    background-color: #4f86f7 !important;
    border-color: #4f86f7 !important;
    color: #EEEEEE;
}

body {
    background-color: #333;
    color: white;
    font-size: 16px;
}

#nameInput, #continue {
    display: none;
}

#songsList {
    height: 100%;
    overflow-y: auto;
}

#songsList > li {
    cursor: pointer;
}

#songsList > li:active {
    background-color: #7C7B83;
}

#songsList > .list-group-item {
    color:#EEE;
    background-color:#333;
    border-bottom-color:#222;
    border-top-color:#222;
}

#currPlayingImg {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 15vh;
    width: 100%;
    border-bottom: 2px solid #444;
    padding: 5px;
    z-index: 10000;
    background-color: #333;
}

#currPlayingInfo {
    font-size: 2.5rem;
    z-index: 10001;
}

#downvote {
    z-index: 10005;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 8vh;
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

#downvote.btn-outline-light:hover {
    color: #ddd;
    background-color: transparent !important;
}
#downvote.btn-outline-light:active {
    color: #bbb;
    background-color: transparent !important;
}

#downvote.btn-outline-primary:hover {
    color: rgb(67, 123, 202);
    background-color: transparent !important;
}
#downvote.btn-outline-primary:active {
    color: rgb(44, 82, 136);
    background-color: transparent !important;
}

#downvote > svg {
    background-color: transparent !important;
}

#userQueue {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 15vh;
    height: 70%;
    width: 20%;
    border-left: 2px solid #444;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 50000;
    background-color: #333;
}

#songQueue {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 15vh;
    width: 100%;
    border-top: 2px solid #444;
    padding: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 50000;
    background-color: #333;
}

#searchDiv {
    padding: 5px;
}

#searchBtn {
    padding: 0px;
    margin-left: -35px;
    z-index: 900 !important;
    color: #4f86f7;
    border: none !important;
}

#searchBtn:active {
    color: rgb(44, 82, 136);
}

#searchBtn:hover {
    color: rgb(44, 82, 136);
}

#searchBtnDiv {
    background-color: transparent;
    z-index: 10000;
    border: none;
}
